body {
  background-color: rgba(115, 160, 186);
}

h2 {
  text-align: center;
}
.screenborder {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#scoreleft {
  display: block;
  text-align: right;
  padding-right: 20px;
}

#scoreright {
  display: block;
  text-align: left;
  padding-left: 20px;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.leftish{
  width: 40%;
  float: left;
  padding: 5px;
}

#dice-display-1 {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 5px;
}

#dice-display-1 img{
  height: 100%;
}

#dice-display-2 {
  height: 200px;
  width: 200px;
  padding: 10px;
  margin: 5px;
}

#dice-display-2 img{
  height: 100%;
}

.middleish {
  width: 40%;
  height: 240px;
  float: left;
}

.dice-log {
  height: 80%;
  width: 80%;
  min-width: 200px;
  min-height: 200px;
  overflow-y: hidden;
  padding: 10px;
  background-color: rgba(36, 36, 36, 0.2);
  border-radius: 30px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}

.rightish {
  width: 20%;
  float: right;
  padding: 5px;
}



.scorething {
  width: 50%;
  height: 100%;
  float: left;
}


.playerscreen {
  display: block;
  width: 90%;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  border: solid thick black;
  border-radius: 30px;
  overflow: hidden;
}

.dice-log img{
  height: 50px;
}

.scorebox {
  display:inline-block;
  float: right;
  height: 230px;
}
