body {
  background-color: lightgray;
}

#dice-display-1 {
  height: 200px;
  width: 200px;
}

#dice-display-2 {
  height: 200px;
  width: 200px;
}

.dice1 {
  background-image: url(../img/1.png);
  background-size: cover;
}

.dice2 {
  background-image: url(../img/2.png);
  background-size: cover;
}

.dice3 {
  background-image: url(../img/3.png);
  background-size: cover;
}

.dice4 {
  background-image: url(../img/4.png);
  background-size: cover;
}


.dice5 {
  background-image: url(../img/5.png);
  background-size: cover;
}

.dice6 {
  background-image: url(../img/6.png);
  background-size: cover;
}

.playerscreen {
  display: block;
  width: 40%;
  min-width: 300px;
  float: left;
}

.dice-log img{
  height: 50px;
}
