body {
  background-color: lightgray;
}

#dice-display-1 {
  height: 200px;
  width: 200px;
}

#dice-display-1 img{
  height: 200px;
}

#dice-display-2 {
  height: 200px;
  width: 200px;
}

#dice-display-2 img{
  height: 200px;
}


.playerscreen {
  display: block;
  width: 40%;
  min-width: 300px;
  float: left;
}

.dice-log img{
  height: 50px;
}
